<head>
    <meta charset="utf-8">
    <title>HortFlora</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="https://www.rbg.vic.gov.au/common/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="https://www.rbg.vic.gov.au/common/fonts/451576/645A29A9775E15EA2.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="https://hortflora.rbg.vic.gov.au/css/jqueryui.autocomplete.css" />
    <link rel="stylesheet" type="text/css" href="https://hortflora.rbg.vic.gov.au/css/app.7eb349b5ed905123cf044895f3be02b4.css" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://hortflora.rbg.vic.gov.au/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://hortflora.rbg.vic.gov.au/js/jspath/jspath.min.js"></script>
    <script type="text/javascript" src="https://hortflora.rbg.vic.gov.au/js/keybase/jquery.keybase.key.cff3aab90b7617bfb713c4dae24b8381.js"></script>
    <script type="text/javascript" src="https://hortflora.rbg.vic.gov.au/js/hortflora.331af60726fb22cded839c574c288927.js"></script>
    <script type="text/javascript" src="{{ '/assets/js/jquery.vicflora-static.js' | absolute_url }}"></script>
</head>
